.container {
    display: flex;
    flex-flow: row wrap;
}

.container > div {
    margin: 10px;
    text-align: center;
    border: 2px solid black;
   
}

.header {
    width: 100%;
}

.navigation {
    width: 100%;
    line-height: 3px;
}

.content {
    line-height: 400px;
    width: 75%;
}

.sidebar {
    line-height: 400px;
    width: 20%;   
}

.footer {
    width: 100%;
}