
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    align-items: left;
  }
  
  .container > div {
    background-color: #EFEFEF;
    margin: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: normal;
    border: 2px solid #BCBCBC
  }

  .kuva {
    width: 100%;
  max-width: 400px;
  height: auto;
 }